.account
  &-headshot
    height 150px
    width 150px
  &-map
    height 200px
    width 280px

.leaflet-control-attribution
  display none

h2
  font-size 1.3rem
  align-items baseline
.account-myloc
  padding 1rem
  padding-bottom 0

.account-box
  align-self flex-start
  background #814b57
  margin 1rem 0
  @media screen and (min-width: 400px)
    margin 1rem

.account-layout
  justify-content center
