.post__single
  max-width 600px

.post__user
  color white
  background #585858
  .post__social_icon
  .post__user_id
    background rgba(129, 75, 87, .9)
    &:hover, &.active
      background rgba(25,135,215,0.89)

.post__delete
  background #0b0914
  color white

.layout__singlepost
  display flex
  justify-content center
  padding 1rem .5rem

.header-titlerow
  flex-flow row nowrap
  overflow-x scroll
.header-title
  h2
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    text-align left


.relative_div
  width 100%
  position relative

.edit-pencil
  font-size 1.7rem
  position absolute
  right 1rem
  top 1rem
.pencil-center
  top 50%
  transform translateY(-50%)



.post__row
  padding .5rem
  width 100%
  h3
    padding-bottom .5rem
.post__meta
  p
    padding .5rem 0 0 1rem
