doctype
html(lang='en')
  head
    title fcc-pinterest
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/styl.css')
    link(rel='stylesheet' href='/font-awesome.min.css')
  body
    include modules/content.pug
    script(src='/vue.js')
    script(src='/bundle.js')
